{% extends 'base.html' %}
{% block title %}Edit Feedback Post{% endblock %}

{% block content%}
<h1>Edit Feedback Post</h1>
<form method="POST">
    {{form.hidden_tag()}}

    <p>
        {{form.title.label}}

        {% for error in form.title.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor%}
    </p>

    <p class="form-control" value="{{feedback.title}}"</p>

    <p>
        {{form.content.label}}

        {% for error in form.content.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor%}
    </p>

    <p class="form-control" value="{{feedback.content}}"></p>

    <button class="btn btn-success" type="submit">Edit</button>
</form>
{% endblock %}